<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<head>
    <title>Корзина товаров</title>
</head>

<body>
<a th:href="@{/orders}" style="float:right;">
    <b>[ЗАКАЗЫ]</b>
</a>
<a th:href="@{/main}" style="float:right;">
    <b>[ГЛАВНАЯ]</b>
</a>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="item : ${cart.items}">
        <td>
            <table>
                <tr>
                    <td>
                        <img width="150" height="150" th:src="@{/image/{imageId}(imageId=${item.imageId})}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b th:text="${'Название товара: ' + item.name}"></b>
                    </td>
                    <td>
                        <b th:text="${'Цена товара: ' + item.price}"></b>
                    </td>
                </tr>
                <tr>
                    <td th:text="${'Описание товара: ' + item.description}"></td>
                </tr>
                <tr>
                    <td>

                        <form th:action="@{/item/{id}/changeAmountInCart(id=${item.id})}" method="post">
                            <button th:if="${item.amountInCart > 0}" name="action" value="minus">-</button>
                            <span th:text="${item.amountInCart}"></span>
                            <button name="action" value="plus">+</button>
                            <button name="action" value="delete" style="float:right;">x</button>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <b th:text="${'Суммарная стоимость: ' + cart.totalPrice}"></b>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <form th:action="@{/cart/buy}" method="post" th:if="${!cart.items.isEmpty()}">
                <button th:disabled = "${cart.totalPrice > balance}">Купить</button>
                <b th:if="${balance == -1}">Платежный сервис недоступен</b>
                <b th:if="${balance != -1 && cart.totalPrice > balance}">Недостаточно средств</b>
            </form>
        </td>
    </tr>
</table>
</body>

</html>
