<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<head>
    <title>Витрина товаров</title>
</head>

<body>
    <a th:href="@{/orders}" style="float:right;">
        <b>[ЗАКАЗЫ]</b>
    </a>
    <a th:href="@{/cart}" style="float:right;">
        <b>[КОРЗИНА]</b>
    </a>
    <a th:href="@{/item/new}" style="float:right;">
        <b>[ДОБАВИТЬ ТОВАР]</b>
    </a>
    <table style="width:70%;margin-left:auto;margin-right:auto;">
        <tr>
            <td>
                <form>
                    <p>
                        <label for="search">Найти: </label>
                        <input id="search" style="width:300px;" name="name" th:value="${searchParams.name}"/>
                        <button name="action">&#128269;</button>
                    </p>
                    <p>
                        <label for="sort">Сортировка: </label>
                        <select id="sort" name="sort" onchange="this.form.submit()">
                            <option value="NO" th:selected="${searchParams.sort.toString() == 'NO'}">нет</option>
                            <option value="NAME" th:selected="${searchParams.sort.toString() == 'NAME'}">по названию</option>
                            <option value="PRICE" th:selected="${searchParams.sort.toString() == 'PRICE'}">по цене</option>
                        </select>
                    </p>
                    <p>
                        <label for="pageSize">Число товаров: </label>
                        <select id="pageSize" name="pageSize" onchange="this.form.submit()">
                            <option value="5" th:selected="${searchParams.pageSize == 5}">5</option>
                            <option value="10" th:selected="${searchParams.pageSize == 10}">10</option>
                            <option value="20" th:selected="${searchParams.pageSize == 20}">20</option>
                            <option value="50" th:selected="${searchParams.pageSize == 50}">50</option>
                            <option value="100" th:selected="${searchParams.pageSize == 100}">100</option>
                        </select>
                    </p>
                    <p>
                        <button th:if="${!itemsPage.firstPage}" name="pageNumber" th:value="${searchParams.pageNumber - 1}">&lt;</button>
                        <span th:text="${'Страница: ' + (searchParams.pageNumber + 1)}"></span>
                        <button th:if="${!itemsPage.lastPage}" name="pageNumber" th:value="${searchParams.pageNumber + 1}">&gt;</button>
                    </p>
                </form>
            </td>
        </tr>
        <tr th:each="item : ${itemsPage.items}">
            <td>
                <table>
                    <tr>
                        <td>
                            <a th:href="@{/item/{id}(id=${item.id})}"> <!-- th:text="${'Название: ' + item.name}"-->
                                <!-- В src ссылка изображение товара -->
                                <img width="150" height="150" th:src="@{/image/{imageId}(imageId=${item.imageId})}"/>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b th:text="${'Название: ' + item.name}"></b>
                        </td>
                        <td>
                            <b th:text="${'Цена: ' + item.price}"></b>
                        </td>
                    </tr>
                    <tr>
                        <td th:text="${'Описание: ' + item.description}"></td>
                    </tr>
                    <tr>
                        <td>
                            <form th:action="@{item/{id}/changeAmountInCart(id=${item.id})}" method="post">
                                <button th:if="${item.amountInCart > 0}" name="action" value="minus">-</button>
                                <span th:text="${item.amountInCart}"></span>
                                <button name="action" value="plus">+</button>
                                <button name="action" value="plus" th:if="${item.amountInCart == 0}" style="float:right;">В корзину</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>
