<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<head>
    <title>Заказы</title>
</head>

<body>
<a th:href="@{/cart}" style="float:right;">
    <b>[КОРЗИНА]</b>
</a>
<a th:href="@{/main}" style="float:right;">
    <b>[ГЛАВНАЯ]</b>
</a>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="order : ${orders}">
        <td>
            <h2>
                <a th:text="${'Номер заказа: ' + order.id}" th:href="@{/order/{id}(id=${order.id})}"></a>
            </h2>
            <table>
                <tr th:each="orderItem : ${order.orderItems}">
                    <td>
                        <b th:text="${'Название товара: ' + orderItem.name}"></b>
                    </td>
                    <td>
                        <b th:text="${'Цена товара: ' + orderItem.price}"></b>
                    </td>
                    <td>
                        <b th:text="${'Количество: ' + orderItem.amount}"></b>
                    </td>
                </tr>
            </table>
            <p>
                <b th:text="${'Сумма заказа: ' + order.totalPrice}"></b>
            </p>
        </td>
    </tr>
</table>
</body>

</html>
