<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Заказ</title>
</head>

<body>
<a th:href="@{/orders}" style="float:right;">
    <b>[ЗАКАЗЫ]</b>
</a>
<a th:href="@{/cart}" style="float:right;">
    <b>[КОРЗИНА]</b>
</a>
<a th:href="@{/main}" style="float:right;">
    <b>[ГЛАВНАЯ]</b>
</a>
<h1 style="text-align:center" th:if="${isNewOrder}">Поздравляем! Успешная покупка!</h1>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr>
        <td>
            <h2 th:text="${'Номер заказа: ' + order.id}"></h2>
        </td>
    </tr>
    <tr th:each="orderItem : ${order.orderItems}">
        <td>
            <table>
                <tr>
                    <td>
                        <a th:href="@{/item/{itemId}(id = ${orderItem.id})}">
                            <img width="150" height="150" th:src="@{/image/{imageId}(imageId=${orderItem.imageId})}"/>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b th:text="${'Название товара: ' + orderItem.name}"></b>
                    </td>
                    <td>
                        <b th:text="${'Описание товара: ' + orderItem.description}"></b>
                    </td>
                    <td>
                        <b th:text="${'Цена товара: ' + orderItem.price}"></b>
                    </td>
                    <td>
                        <b th:text="${'Количество: ' + orderItem.amount}"></b>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <h3 th:text="${'Сумма заказа: ' + order.totalPrice}"></h3>
        </td>
    </tr>
</table>
</body>

</html>
